$scale: scale(1.05) ;
$transition: all .2s ease-in-out;

.wp-block-sro-gutenberg-block-section {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;

  z-index: 0;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  &__link {
    //position: absolute;
		display: block;
    word-wrap: break-word;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
  }

  &__title {
		display: block;
		color: #FFF;
		padding: 1.5rem;
		font-size: $font__size-md;
    line-height: 1.4rem;
    font-weight: 500;
    padding: 3rem 1.5rem;
  }

}

@include media(desktop) {
  .wp-block-sro-gutenberg-block-section {
    &__title {
      padding: 1.5rem;
      min-height: 12rem;
    }
    &:hover {
      z-index: 1;
      -ms-transform: $scale;
      -moz-transform: $scale;
      -webkit-transform: $scale;
      -o-transform: $scale;
      transform: $scale;
      box-shadow: 8px 8px 30px rgba(0,0,0,0.4);
    }
  }
}

///////////////////////////////////////////////////////////////////
// in wp-block-columns WordPress
//
@include media(desktop) {
  .wp-block-columns.has-2-columns {
    .wp-block-sro-gutenberg-block-section {
      &__title { min-height: 16rem;  }
    }
  }
  .wp-block-columns.has-3-columns {
    .wp-block-sro-gutenberg-block-section {
      &__title { min-height: 15rem;  }
    }
  }
  .wp-block-columns.has-4-columns {
    .wp-block-sro-gutenberg-block-section {
      &__title { min-height: 12rem;  }
    }
  }
  .wp-block-columns.has-5-columns {
    .wp-block-sro-gutenberg-block-section {
      &__title { min-height: 10rem;  }
    }
  }
}
